PORT=3000
NODE_ENV=development
SUPABASE_URL=https://jaxglbziswzllhrxcnyp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpheGdsYnppc3d6bGxocnhjbnlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA5Mjc0NDMsImV4cCI6MjA2NjUwMzQ0M30.o1EqnEVDK7IpozDmp4LwZftwx9WuPXqYY7Q3AVDGces